*~
*.rel
*.elc
*.~undo-tree
*_archive
*_flymake.*
.cask
.cask/
.projectile
.dir-locals.el
.org-id-locations

flycheck_*.el
dist/
network-security.data
recentf
auto-save-list
tramp

\#*\#
.\#*

/eshell/history
/eshell/lastdir
/elpa/
/auto/
/server/
